<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <title>StuckU - Inex</title> 
        <meta charset="utf-8">
        <meta name="keywords" content="Tutaj zaladowane keywords">
        <meta name ="description" content="Tutaj zaladowany opis">
    </head>

    <body>
        <nav> 
            <ul id="nav_ul">
                <li id="nav_li"><a href="index.html"> Home </a> </li>
                <li id="nav_li"><a href="panel.html"> Dodaj artykuł </a></li>
                <li id="nav_li"><a href="register.html">Rejestracja </a></li>
                <li id="nav_li"><a href="comments.html"> Panel komentarzy </a></li>
            </ul>
        </nav>
        <div id="container"> 
            <aside> 
                <div class="widget">
                    <div id="aside_avatar"></div>
                    <p id="aside_name"> Karol Dzialowski </p>
                    <p id="aside_edit"> Edytuj profil </p>
                </div>
                <hr style="width:75%">
                
                <div class="widget">
                    <h4 class="news_title"> Log In/Register </h2>
                    <form action="login.php" method="post">
                        <ul class="widget_ul">
                            <li class="widget_li">
                                Username: <br>
                                <input type="text" name="username">
                            </li>	
                            <li class="widget_li">
                                Password: <br>
                                <input type="password" name="password">
                            </li>
                            <li class="widget_li">
                                <input type="submit" value="Zaloguj">
                            </li>
                        </ul>
                    </form>
                </div>
                <hr style="width:75%">
            </aside>

            <section>
                <form>
                    <div id="news_comments">
                        <div class="news_comment"> 
                            <p class="comment_author">Karol Działowski</p>
                            <p class="comment_date">2010-23-10</p>
                            <p class="comment_moderate">Usuń</p>
                            <div class="comment_content"> 
                                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ullamcorper massa vitae auctor ornare. Praesent purus eros, fringilla nec viverra ut, mattis sed orci. Etiam sit amet auctor ante.</p>
                            </div>
                            <li> <input type='radio' name='1' value='1'>Zatwierdź </li>
                            <li> <input type='radio' name='1' value='2'>Usuń </li>
                            <hr class="comment_separate" />
                        </div>

                        <div class="news_comment"> 
                            <p class="comment_author">Karol Działowski</p>
                            <p class="comment_date">2010-23-10</p>
                            <p class="comment_moderate">Usuń</p>
                            <div class="comment_content"> 
                                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ullamcorper massa vitae auctor ornare. Praesent purus eros, fringilla nec viverra ut, mattis sed orci. Etiam sit amet auctor ante.</p>
                            </div>
                            <li> <input type='radio' name='2' value='2'>Zatwierdź </li>
                            <li> <input type='radio' name='2' value='3'>Usuń </li>
                            <hr class="comment_separate" />
                        </div>

                        <div class="news_comment"> 
                            <p class="comment_author">Karol Działowski</p>
                            <p class="comment_date">2010-23-10</p>
                            <p class="comment_moderate">Usuń</p>
                            <div class="comment_content"> 
                                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ullamcorper massa vitae auctor ornare. Praesent purus eros, fringilla nec viverra ut, mattis sed orci. Etiam sit amet auctor ante.</p>
                            </div>
                            <li> <input type='radio' name='3' value='3'>Zatwierdź </li>
                            <li> <input type='radio' name='3' value='3'>Usuń </li>
                            <hr class="comment_separate" />
                        </div>
                    </div>
                </form>
            </section>


        </div>
    </body>

</html>
