<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <title>StuckU - Inex</title> 
        <meta charset="utf-8">
        <meta name="keywords" content="Tutaj zaladowane keywords">
        <meta name ="description" content="Tutaj zaladowany opis">
    </head>

    <body>
        <nav> </nav>
        <div id="container"> 
            <aside> 
                    aside
            </aside>

            <section>
                <div id="news">
                   sekcja 
                </div>
                
            </section>
            
            <div style="clear: both;"></div>
        </div>
    </body>

</html>
